.vehical-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  /* Card image styles */
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  /* Card content styles */
  .card-content {
    padding: 16px;
  }
  
  .card-content h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  
  .card-content p {
    margin: 10px 0;
    color: #777;
    font-size: 16px;
  }
 